<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <h2>Contribute to PetFax</h2>
    <p>Share some pet fax you find interesting!</p>
    <form>
        <div class="facts-container">
            <form>
                <label for="submitter"><H2>Name</H2></label>
                <input name="submitter" type="text">
                <br/>
                <label for="fact"><H2>Fact</H2></label>
                <textarea name="fact"></textarea>
                <br/>
                <input type="submit" value="Submit the Fact">
            </form>
    </form>
</body>
</html>